.vscode/
.smithy.lsp.log
**/target
.envrc
flwi_registration.json
/.hide/
/server/logs/
/server/db/
.ipynb_checkpoints
/grafana-storage/
server/postgres-data
logs
server-info.json
build/*
data/*
.yarn-integrity
leaderboard-frontend/node_modules
temp_data
leaderboard/src/main/resources/frontend
